body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:376px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:399px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:489px;
  width:332px;
  height:399px;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:28px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:0px;
  width:375px;
  height:28px;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:458px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:27px;
  width:375px;
  height:458px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:fixed;
  left:25px;
  top:619px;
}
#u3_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:320px;
  height:48px;
  background-image:none;
}
#u3_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:28px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:28px;
  color:#FD6301;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bernard MT Condensed Bold', 'Bernard MT Condensed', 'Bernard MT';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FD6301;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:33px;
  width:32px;
  height:15px;
  font-family:'Bernard MT Condensed Bold', 'Bernard MT Condensed', 'Bernard MT';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FD6301;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bernard MT Condensed Bold', 'Bernard MT Condensed', 'Bernard MT';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:33px;
  width:16px;
  height:15px;
  font-family:'Bernard MT Condensed Bold', 'Bernard MT Condensed', 'Bernard MT';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u7_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bernard MT Condensed Bold', 'Bernard MT Condensed', 'Bernard MT';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:33px;
  width:15px;
  height:15px;
  font-family:'Bernard MT Condensed Bold', 'Bernard MT Condensed', 'Bernard MT';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bernard MT Condensed Bold', 'Bernard MT Condensed', 'Bernard MT';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:33px;
  width:53px;
  height:15px;
  font-family:'Bernard MT Condensed Bold', 'Bernard MT Condensed', 'Bernard MT';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:0px;
  width:30px;
  height:30px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:32px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:0px;
  width:29px;
  height:32px;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:0px;
  width:30px;
  height:30px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
